<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="dateOfBirth">Date of birth</label>
        <div class="input-group">
          <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>

<form [formGroup]="this.form">
  <div class="container" style="margin-top: 40px; margin-bottom: 40px;">
    <div class="row">
      <div class="col-12">
        <h2>Frase</h2>
        <!-- <div class="mb-3">
          <label for="titulo" class="form-label">Titulo</label>
          <input type="text" class="form-control" id="titulo" formControlName="titulo">
        </div> -->
        <div class="mb-3">
          <label for="frase" class="form-label">Texto</label>
          <textarea class="form-control" id="frase" formControlName="frase" rows="3"></textarea>
        </div>
        <div class="mb-3">
          <label for="autor" class="form-label">Autor</label>
          <input type="text" class="form-control" id="autor" formControlName="autor">
        </div>
        <div class="mb-3">
          <label for="autor_url" class="form-label">Link de informação do autor</label>
          <input type="text" class="form-control" id="autor_url" formControlName="autor_url">
        </div>
        <div class="mb-3">
          <label for="usuario_rede_social" class="form-label">Usuário da rede social</label>
          <input type="text" class="form-control" id="usuario_rede_social" formControlName="usuario_rede_social">
        </div>
        <div class="mb-3">
          <label for="link_usuario_rede_social" class="form-label">Link da rede social</label>
          <input type="text" class="form-control" id="link_usuario_rede_social" formControlName="link_usuario_rede_social">
        </div>
      </div>
      <div class="col-12">
        <hr>
        <h2>Livro</h2>
        <div class="mb-3">
          <label for="nome_livro" class="form-label">Titulo</label>
          <input type="text" class="form-control" id="nome_livro" formControlName="nome_livro">
        </div>
        <div class="mb-3">
          <label for="autor_livro" class="form-label">Autor</label>
          <input type="text" class="form-control" id="autor_livro" formControlName="autor_livro">
        </div>
        <div class="mb-3">
          <label for="resumo_livro" class="form-label">Sinopse</label>
          <textarea class="form-control" id="resumo_livro" formControlName="resumo_livro" rows="3"></textarea>
        </div>
        <div class="mb-3">
          <label for="livro_url" class="form-label">Link referência do livro</label>
          <input type="text" class="form-control" id="livro_url" formControlName="livro_url">
        </div>
      </div>

      <div class="col-12">
        <hr>
        <h2>Configuração</h2>
        <div class="mb-3">
          <label for="data_exibicao" class="form-label">Data da exibição</label>
          <input type="date" class="form-control" id="data_exibicao" formControlName="data_exibicao">
        </div>
        <div class="mb-3">
          <label for="likes" class="form-label">Quantidade de likes inicial</label>
          <input type="number" class="form-control" id="likes" formControlName="likes" value="0">
        </div>
      </div>
      <div class="col-6">
        <button type="button" class="btn btn-primary btn-lg" (click)="add()">Salvar</button>
      </div>
    </div>
  </div>
</form>